[2019-03-15 16:51] tanner0101 opened #7 "unit tests"
This package needs some unit tests. I'm not sure how to get access to a shared key for communicating with APNS though. Does apple have any public dev keys?

[2019-03-18 22:34] kylebrowning commented on #7
As discussed, there are no public developer keys :(

Ill work on doing mocks.

[2019-03-31 16:14] rbuencamino opened #9 "Redefinition of ECDSA_SIG_st"
Pulled off of Master and am getting this when compiling for the first time:

[code]

[2019-04-01 15:01] kylebrowning commented on #9
@rbuencamino Thanks, yes, known issue.

It seems some systems have the EDCSA depending on their open ssl library.

You can comment out this code, and it should compile for you.

https://github.com/kylebrowning/swift-nio-http2-apns/blob/master/Sources/CAPNSOpenSSL/shim.h#L12

[2019-04-01 15:02] kylebrowning commented on #9
AS an aside I need to figure out why the open ssl version and librassl if statement is failing.

[2019-04-02 14:43] kylebrowning commented on #9
@rbuencamino or anyone else having this issue, can you type.

`php -r "echo OPENSSL_VERSION_NUMBER"`

or
`cat /usr/include/openssl/opensslv.h | grep "OPENSSL_VERSION_NUMBER"`

[2019-04-02 15:16] rbuencamino commented on #9
I'm currently running LibreSSL 2.6.5

[2019-04-02 15:24] rbuencamino commented on #9
I should also note here (for posterity) that commenting out that struct helps, but also introduces this:

`
swift-nio-http2-apns/Sources/NIOAPNS/DataSigner.swift:50:84: error: extra argument in call
                    deallocator: .custom({ pointer, length in CRYPTO_free(pointer, 0) }))
`

In which case, updating line 48-50 to look like this allows the project to build:
`
return Data(bytesNoCopy:

[2019-04-02 15:51] kylebrowning commented on #9
@rbuencamino Okay ive resolved those two issues, git pull and try again.

0d45e7
93f9aa

[2019-04-02 15:53] #9 closed

[2019-04-02 16:36] kylebrowning commented on #9
@rbuencamino Ive added the shim back in because it's needed for linux.

When you run into this issue again, you need to make sure pig-config can see LibreSSL.

You can do that by running.

[code]

If you don't see that you need to follow the instructions when you ran `brew install libressl`

That command for me was
`export PKG_CONFIG_PATH="/usr/local/opt/libressl/lib/pkgconfig"`

[2019-04-11 11:02] glbrntt opened #10 "HTTP2 pipeline is configured too early"
I think you have a bug here:

https://github.com/kylebrowning/swift-nio-http2-apns/blob/4fa6353d29ac7eb0fe5ad3656ba04ee1eda8ea87/Sources/NIOAPNS/APNSConnection.swift#L18

If the connection to the first initialized channel fails then you'll capture the wrong multiplexer instance (because the happy eyeballs connector will call the `channelInitializer` multiple times).

Moving the call to `configureH

[2019-04-11 14:50] kylebrowning commented on #10
@glbrntt
[code]

Something like that?

[2019-04-11 14:54] #10 closed

[2019-04-11 15:50] glbrntt commented on #10
Not what I was thinking but that works too!

[2019-04-11 15:56] kylebrowning commented on #10
Feel free to open a PR if you have a cleaner way!

Though this will probably be fixed upstream in NIOHTTP2

[2019-04-27 18:34] v57 opened #14 "Add apns-collapse-id"
iOS 10 supports removable notifications by using `apns-collapse-id` header. That would be cool if you make this feature

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html

The first time you send these headers, encode them with incremental indexing to allow the header names to be added to the dynamic table
Subse

[2019-04-27 18:41] kylebrowning commented on #14
Seems appropriate and pretty easy to do. Ill submit a PR soon.

[2019-04-28 14:43] kylebrowning commented on #14
Gives this a whirl @v57

[2019-04-29 11:33] v57 commented on #14
Thank you so much. Thats exactly what i need 🥳

[2019-04-29 11:34] #14 closed

[2019-05-06 17:45] kylebrowning commented on #7
Lots of tests are in. We stilll don't have a way to test that the network calls happen. I haven't been able to make an HTTP/2 Server work yet.

Im stil working on it though.

[2019-05-10 19:00] weissi opened #20 "retrieving the http/2 multiplexer"
In https://github.com/kylebrowning/swift-nio-apns/blob/master/Sources/NIOAPNS/APNSConnection.swift#L22-L40 I just saw that the way you retrieve the http2 multiplexer isn't 100% correct. The issue is that the `channelInitializer` for `ClientBootstrap`s might be invoked more than once. That is because of happy eyeballs (there might be two channels generated, one for IPv4 and one for IPv6).

In NIO 2

[2019-05-10 20:18] kylebrowning commented on #20
@weissi

So something like this?
[code]

[2019-05-10 21:50] weissi commented on #20
Perfect, thanks for the quick fix!

[2019-05-10 22:10] #20 closed

[2019-06-05 08:18] Rubenfer opened #25 "Create iOS app to send push notifications"
In WWDC 2019 Apple introduced the ability to use Swift Packages into iOS apps with Xcode 11.

I've tried to create a sample project with this repository and I got some issues:

- If I try to run on iOS Simulator, it compiles but the app crashes with the error:

- If I try to run on iPhone it doesn't compile with several errors about SSL.

- If I try to run it on Mac using Catalyst (run iPad app on

[2019-06-05 12:58] kylebrowning commented on #25
@Rubenfer I have not tried it yet, but I imagine there's a lot to get right here.

Its possible Xcode doesn't play nicely with iOS Devices libssl and we would need to add another dependency.

Not sure yet.

[2019-06-05 20:48] weissi commented on #25
libssl is not in the iOS/macOS SDKs, you'd need to use the platforms crypto APIs there and not Libre/OpenSSL.

[2019-06-05 21:14] kylebrowning commented on #25
Yeah, this is something wed like to fix, but at the current moment, it may be a bit.

[2019-06-09 07:49] Rubenfer commented on #25
I think that [Apple CryptoKit](https://developer.apple.com/documentation/cryptokit) would be an alternative to OpenSSL.

Example: https://developer.apple.com/documentation/cryptokit/performing_common_cryptographic_operations

[2019-06-10 16:54] lgaches opened #27 "[BUG] Signer doesn't work"
**Describe the bug**

Providing signer with a file or `ByteBuffer` always failed with the following message `badRequest(NIOAPNS.APNSError.ResponseErrorMessage.invalidProviderToken)`

**Platform:**
 - OS: Ubuntu & macOS

[2019-06-10 17:13] lgaches commented on #27
sorry wrong configuration

[2019-06-10 17:13] #27 closed

[2019-06-20 16:41] kylebrowning commented on #25
@Rubenfer Yeah that would work. Ill probably get to this when my free time frees up :P

Feel free to submit a PR though. It's probably just a lot things like this,

[code]

[2019-07-18 17:12] eito opened #30 "[Question] - SwiftPM seems to hang when i include this dependency in a new vapor project"
Wasn't sure where else to post this, but including this as a dependency causes SwiftPM to hang. If I include the dependency it hangs on explicitly, it hangs on a different one... I'm not sure where to look to see what's going on, the best I can do is use `--verbose` when updating vapor.

[code]

Here is my package.swift

[code]

If I uncomment the latter package, it hangs on a different package:

[2019-07-18 17:50] kylebrowning commented on #30
It looks like you’re using swift tools version 4. This only works with swift tools version 5

[2019-07-18 17:53] eito commented on #30
Thanks for the quick response. I'm past the hang but am getting some compilation errors related to the generated shim.h

[code]

![image](https://user-images.githubusercontent.com/775643/61480133-1f574d80-a94a-11e9-9b4b-20accf0bce9d.png)

[2019-07-18 18:12] kylebrowning commented on #30
Brew install openssl@1.1

[2019-07-18 18:26] kylebrowning commented on #30
You can also type, `pkg-config openssl --cflags`
To see which openssl would be linked when compiling.

[2019-07-18 18:37] eito commented on #30
thanks, got past the first issue, now I am wading through CryptoKit compilation errors... 🎉

[2019-07-18 18:38] kylebrowning commented on #30
@eito I believe those are related to which openssl version is being pulled in.

[2019-07-18 18:43] eito commented on #30
yeah, the errors are all related to OpaquePointer/UnsafePointer conversion issues, which I saw some mention of in APNSwiftPointerTricks.swift... trying to wrap my head around that all

[2019-07-18 18:46] kylebrowning commented on #30
What do you see when you type `pkg-config openssl --cflags`

[2019-07-18 18:49] eito commented on #30
[code]

[2019-07-18 18:50] eito commented on #30
It looks like it's getting symbols from

![image](https://user-images.githubusercontent.com/775643/61483674-30a45800-a952-11e9-9bf0-1b398f60e829.png)

Instead of CNIOBoringSSL's versions.. not sure if that's expected

[2019-07-18 19:26] kylebrowning commented on #30
SO when you did brew install openssl, it should have told you about the CFLAGS to export into your path for pig-config.

[2019-07-18 19:29] kylebrowning commented on #30
double check pkg-config is installed, and then you can do
[code]

[2019-07-18 20:16] kylebrowning commented on #30
@eito ^

[2019-07-18 20:17] eito commented on #30
cool, thanks @kylebrowning will try it out

[2019-07-19 16:13] weissi commented on #7
If we can help you with getting an HTTP/2 server up and running, please reach out.

[2019-07-19 17:16] kylebrowning commented on #30
Im going to close this as the original problem seems to be resolved.

If something else comes up, don't hesitate to reach out!

[2019-07-19 17:16] #30 closed

[2019-07-20 15:47] kylebrowning commented on #7
@weissi is there any demo code for a HTTP/2 Server?

[2019-07-20 16:38] weissi commented on #7
@kylebrowning Yes, [there is](https://github.com/apple/swift-nio-http2/blob/master/Sources/NIOHTTP2Server/main.swift).

For most unit tests you won't even need a HTTP/2 server, for example, you could just put `APNSwiftRequestEncoder` or `APNSwiftResponseDecoder` in an `EmbeddedChannel` and you don't even need a real network connection or threads or anything.

The cool thing with NIO is that you ca

[2019-07-20 16:50] weissi commented on #7
@kylebrowning there you go, wrote you three example test cases for `APNSwiftRequestTests.swift`:

[code]

feel free to just copy them in. The only other changes you'll need are a few imports:

[code]

and also you need to make `APNSwiftResponse` `Equatable`, literally by adding `: Equatable` next to the definition.

[2019-07-20 16:50] weissi commented on #7
(btw, the third test I wrote for you reveals a bug: if the server responds with any trailers (which is totally might do), you hit a precondition...)

[2019-07-20 16:52] kylebrowning commented on #7
@weissi Thanks, will look into this very soon. Appreciate it!

[2019-07-22 13:01] weissi opened #31 "memory unsafety -- address sanitizer failure"
**Describe the bug**
This looks like quite a serious bug, the test suite is failing address sanitizer:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run tests with `swift test --sanitize=address --disable-index-store`

**Expected behavior**
passes

 - OS: macOS Catalina

[log_swift_2OMC7b.log](https://github.com/kylebrowning/APNSwift/files/3417487/log_swift_2OMC7b.log)

[2019-07-23 17:27] #31 closed

[2019-07-23 19:51] itcohorts opened #34 "[BUG] TooManyProviderTokenUpdates"
@kylebrowning Thanks for putting so much work in on this tool! I've been attempting to implement it in a project I'm working on and I noticed the following:

When sending an APNS message to multiple tokens, each time APNSwiftRequestEncoder.write() is called the jwt is regenerated. This causes Apple's servers to respond with **TooManyProviderTokenUpdates**

**To Reproduce**
Configure a connection t

[2019-07-27 15:27] #7 closed

[2019-07-27 15:38] #34 closed

[2019-07-27 15:45] kylebrowning commented on #34
@itcohorts Feel free to tag 1.1.0 now.

[2019-08-08 10:32] t089 opened #36 "[BUG] ES256 signer is not according to spec"
**Describe the bug**
The ES256 implementation in `APNSwiftSigner` stores the signature in the `DEM` format. According to the [spec](https://tools.ietf.org/html/rfc7515#appendix-A.3) the signature should be the concatenation of the `R` and `S` values as big-endian integers.

It's funny, because Apple's server actually accepts these JWTs. When you try to check a JWT generated from this library with

[2019-08-08 10:55] weissi commented on #36
CC @lukasa

[2019-08-08 11:15] Lukasa commented on #36
Yup, this should be changed. The proposed patch is broadly ok though it'll run into some issues when compiled against OpenSSL 1.1, as `ECDSA_SIG` is opaque on that version. That requires that you use `ECDSA_SIG_get0` to extract the pointers to `r` and `s`, and I recommend putting a comment there for posterity that as this method is `get0` there is no requirement to free those pointers: `ECDSA_SIG`

[2019-08-08 11:43] t089 commented on #36
Wait a minute, I'm not sure this is actually true.

[2019-08-08 13:20] kylebrowning commented on #36
@t089 is that the full patch? where is `pkey` defined? Are you able to submit a PR?

[2019-08-08 13:26] kylebrowning commented on #36
This is the patch I have,
[code]

[2019-08-08 14:10] kylebrowning commented on #36
[code]
Now were just back to having this error.

[2019-08-08 14:37] t089 commented on #36
I can submit a proper PR. Also as @Lukasa suggested we should probably shim over the version differences of OpenSSL regarding the `ECDSA_SIG ` structure.

[2019-08-08 14:38] kylebrowning commented on #36
@t089 we've tried that in the past and it always led to issues whether you were on Linux, Mac, OpenSSL 1.0 or OpenSSL 1.1.
I could never figure it out.

[2019-08-08 15:00] Lukasa commented on #36
NIOSSL's older code had an `SSLPointerTricks.swift` module that gives you some helpers to bridge the gap. Failing that, you can write more specific shim code in C.

[2019-08-08 15:02] kylebrowning commented on #36
@Lukasa You mean this? https://github.com/kylebrowning/APNSwift/blob/master/Sources/APNSwift/APNSwiftPointerTricks.swift

Im using it, but definitely in over my head when trying to make it work across those 4 different environments. Any help or pseudo code would be huge.

[2019-08-08 15:12] Lukasa commented on #36
Yup, that looks like mine!

[2019-08-08 15:14] Lukasa commented on #36
So the strategy here is that you erase all the types in your swift code: any time you have to write the type of a pointer you get from OpenSSL you call it `OpaquePointer`, even if your IDE tells you otherwise. Then, any time you save a pointer _into_ one of those places, or pass it from one of those places _to_ OpenSSL, you need to call either `.init` or `.make`, depending on the optionality you h

[2019-08-08 17:10] kylebrowning commented on #36
@t089 let men now if you need help with the shim, im somewhat busy today.

[2019-08-12 23:06] #36 closed

[2019-08-13 01:26] kylebrowning commented on #25
Im going to close this for now as this hasn't been something Ive been able to focus on.

[2019-08-13 01:26] #25 closed

[2019-08-20 16:39] weissi opened #39 "flaky test"
**Describe the bug**
there's a flaky test:

[code]

[log_swift_wmu81k.log](https://github.com/kylebrowning/APNSwift/files/3521659/log_swift_wmu81k.log)

**To Reproduce**

run `swift test --sanitize=address -c release -Xswiftc -enable-testing --disable-index-store` many times

**Expected behavior**

tests pass

**Platform:**
macOS 10.15 beta 6ish

[2019-08-20 16:59] kylebrowning commented on #39
`beta 6ish`

lol.

Thanks, will look into this.

[2019-08-21 15:38] rafiki270 opened #40 "Support for cert authentication"
It would be amazing to have access to cert authentication. In big corporation like ours we never get access to anything else :(

[2019-08-21 16:26] weissi commented on #40
that shouldn't be hard to add because APNSwift uses swift-nio-ssl. So if it lets you configure the `TLSConfiguration` you can enable that.

[2019-08-21 17:05] weissi commented on #40
actually, `APNSwiftConfiguration` exposes the `TLSConfiguration` already and you can change it too. @rafiki270 what exactly would you need?

[2019-08-23 12:09] glaurent opened #41 "Build fails on Linux : use of undeclared type 'BIGNUM'"
Building on Linux fails with several of the following

[code]

Swift version 5.1-dev
Ubuntu 18

[2019-08-24 11:55] weissi commented on #41
Hmm, I can't repro on 18.04 with 5.0.2:

[code]

works.

@glaurent can you send the output of

[code]

?

[2019-08-24 11:55] weissi commented on #41
@glaurent also can you send your `Package.resolved` file? At least the following things are interesting: `swift-nio-ssl` version / `APNSwift` version or commit

[2019-08-26 12:58] glaurent commented on #41
Here goes :

[code]

From Package.resolved :

[code]

[2019-08-27 15:27] weissi commented on #41
Thanks @glaurent , I repro. The following command (when invoked from an `APNSwift` checkout) reproduces:

[code]

I can see the following errors:

[code]

[2019-08-27 15:33] weissi commented on #41
Interestingly, this one does now repro:

[code]

[2019-08-27 16:29] weissi commented on #41
ok, I filed https://bugs.swift.org/browse/SR-11382 for the change in behaviour. But honestly, currently I don't understand why it works on Swift 5.0.2? `BIGNUM` seems to be a forward-declared `struct bignum_st` and pointers to forward-declared structs are usually imported as `OpaquePointer`...

@kylebrowning was there a reason using `UnsafePointer<BIGNUM>` in Swift and not `OpaquePointer` using th

[2019-08-27 17:26] weissi commented on #41
@kylebrowning ha, so yes what [@Lukasa says](https://github.com/kylebrowning/APNSwift/pull/38/files#r312515462) is exactly my sentiment: No idea why this works in 5.0.2, as @lukasa said elsewhere, we should switch everything over to `OpaquePointer` this was the right solution always and seems to be the only solution in 5.1.

[2019-08-30 17:37] kylebrowning commented on #41
Yes I can take care of this, this weekend.

sorry just started a new gig so I've been swamped.

[2019-09-01 14:14] weissi commented on #41
Thanks so much @kylebrowning!

[2019-09-08 20:42] weissi commented on #41
any updates here @kylebrowning ? The way it’s used right now shouldn’t work on 5.0 but does work for some reason... it basically seems to see BoringSSL’s definition by accident (which it shouldn’t). That changed in 5.1. So we should really fix this before 5.1 is released.

[2019-09-08 20:43] kylebrowning commented on #41
Sorry @weissi. New job has me working hard! Good thing though.

I’ll make sure this happens before 5.1 which I presume is this month.

[2019-09-08 20:45] weissi commented on #41
Don’t apologise, we all understand this isn’t your actual day job! Hope your new job is going well and is fun!

[2019-09-18 02:45] mosed commented on #40
It’s not clear for me either.  Would you be able to give an example how to configure this given a PEM file containing public and private key?  Thank you

[2019-09-19 16:49] kylebrowning opened #43 "Should support `apns-push-type`"
On iOS 13 and WatchOS 6, apns-push-type is required.
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns

[2019-09-19 17:18] kylebrowning commented on #41
Alternatively,

[code]
succeeds, even though we think it shouldn't

[2019-09-19 17:19] weissi commented on #41
@kylebrowning did you try `swift package update` to be sure to get the latest version of `swift-nio-ssl`? The Swift 5.0 version will succeed despite the fact it shouldn't because Swift 5.0 doesn't have `@implementationOnly` which swift-nio-ssl now uses (for Swift 5.1 only) to fully hide the C stuff.

[2019-09-19 17:22] kylebrowning commented on #41
My local checkout is up to date yet, but just gonna add it to the command before `swift build` and try again

Running now.

[2019-09-19 17:24] weissi commented on #41
@kylebrowning but the dependency versions might be older because of `Package.resolved`, right? You'd need `swift-nio-ssl` >= 2.4.0

[2019-09-19 17:25] weissi commented on #41
Oh, and btw, if you remove the `--rm` from the `docker run`, then the container won't be deleted and you can re-use that container after that command ran and don't need to wait all the time to download & install Swift again. You can just do `docker ps` and then `docker exec -it CONTAINER_ID /bin/bash` to reconnect to an existing container.

[2019-09-19 17:35] kylebrowning commented on #41
[code]

[2019-09-20 15:15] kylebrowning commented on #41
@glaurent I have a fix coming.

[2019-09-20 15:16] glaurent commented on #41
@kylebrowning thank you very much for your work :)

[2019-09-20 17:16] kylebrowning commented on #40
I think you could try this,
[code]

Now, this probably won't work entirely because of the  header and the signer, so let me do a little work to make this work.

[2019-09-20 17:17] kylebrowning commented on #41
@glaurent Give #44 a try. Im going to be doing some more testing, but its up for you now.

[2019-09-20 17:22] glaurent commented on #41
@kylebrowning thanks a lot, I'll check this week-end

[2019-09-20 23:25] kylebrowning commented on #40
Try this commit. https://github.com/kylebrowning/APNSwift/pull/45

[2019-09-21 16:30] glaurent commented on #41
@kylebrowning it builds without errors, thanks again 👍

[2019-09-21 19:16] kylebrowning commented on #40
Eh, doesn't seem to work. Im not sure how to get TLSConfiguration to accept my pem correctly.

I get `missingProviderToken`

[2019-09-21 19:16] #41 closed

[2019-09-21 19:26] kylebrowning commented on #43
#46

[2019-09-21 20:08] mosed commented on #40
yes because for this type of connection I think also we dont use the `keyIdentifier` either.   And we should have to set the pem cert as well as the pem private key.   I just cant figure out how to get it to work

[2019-09-21 20:09] kylebrowning commented on #40
IN that PR, `keyIdentifier` isn't used at all, even though its being configured. This was just a quick dirty way of testing it.

[2019-09-21 20:27] kylebrowning commented on #40
@mosed https://github.com/swift-server/async-http-client/issues/27#issuecomment-489760481

I’ll look at this more in the evening

[2019-09-22 17:08] kylebrowning commented on #40
@mosed @rafiki270 I got it working, will post example shortly after I get the new release out.

[2019-09-22 17:15] kylebrowning commented on #40
#47

[2019-09-22 17:15] #43 closed

[2019-09-22 17:17] kylebrowning commented on #39
@weissi Possibly related to 10.15? I cant seem to reproduce on 10.14, with Xcode 11.

[2019-09-22 18:03] #40 closed

[2019-09-22 18:04] kylebrowning commented on #40
You can see the APNSwiftPemExample to see how you may accomplish this.

[2019-09-22 18:04] kylebrowning commented on #40
https://github.com/kylebrowning/APNSwift/blob/686c69561040054550e7bd9afe88f395ebb53c27/Sources/APNSwiftPemExample/main.swift#L33

[2019-09-22 20:38] weissi commented on #39
@kylebrowning it took about 5 mins running the following command until it hit the failure for me:

[code]

Just run it, and use your computer normally for other things and check back every 5 mins if it failed, I'm sure it will at some point.

[code]

[2019-09-23 17:13] #39 closed

[2019-10-02 15:14] daniel-beard opened #50 "Support for raw payloads"
I occasionally have a requirement where I have raw string payloads that I'd like to send over APNS. I couldn't see a way to pass a string payload with the current set of classes and protocols. Is this something you'd be willing to support?

E.g. I just want to be able to pass something like the following:

[code]

[2019-10-02 15:18] kylebrowning commented on #50
You should be able to conform to APNSwiftNotification and use that.

[code]

[2019-10-02 15:21] daniel-beard commented on #50
@kylebrowning the structure varies quite a bit, and the source for this comes from external systems. I would conform to `APNSwiftNotification`, but I don't know the structure ahead of time.

[2019-10-02 16:10] kylebrowning commented on #50
@daniel-beard Let me think about that. We need to find a way to some sort of AnyCodable concept.

[This](https://github.com/Flight-School/AnyCodable) might work but im hesitant to depend on third party dependencies.

[2019-10-02 16:24] weissi commented on #50
Can't we just do

[code]

?

[2019-10-02 16:52] daniel-beard commented on #50
@weissi how in that case would I create the `aps` object from that single string payload?

[2019-10-02 16:55] kylebrowning commented on #50
What if we did
[code]

[2019-10-02 16:57] kylebrowning commented on #50
Then you just construct the byte buffer yourself, but there's no guarantees the payload is legit safe.

[2019-10-02 16:58] daniel-beard commented on #50
@kylebrowning I think that will work, you don't need the `JSONEncoder` param though. I'm cool with the payload being able to be malformed.

[2019-10-02 16:59] kylebrowning commented on #50
Correct I just did it quick and dirty haha.

[2019-10-02 17:59] kylebrowning commented on #50
I just tested this, and it seems to work just fine, not sure if @weissi Has any other ideas.
[code]

[2019-10-02 20:45] weissi commented on #50
@daniel-beard wait, you want to inject an arbitrary string into the JSON?

[2019-10-02 20:49] kylebrowning commented on #50
@weissi It appears so. Sounds like they attach arbitrary data on the push notification. So `aps` still exists, but then they use basically what appears to be `[String: AnyObject]`

[2019-10-02 20:54] weissi commented on #50
@kylebrowning hmm, if it were actually structured data, I think what I proposed would’ve worked, no? But I think @daniel-beard wants to have the `aps` object to be an arbitrary sequence of bytes they get from elsewhere. If that is the case, then Codable won’t support that because it’s no longer typed.

I’m happy adding a function like you propose, I think the parameter name should maybe be `rawByt

[2019-10-02 20:57] kylebrowning commented on #50
@weissi Main problem is that `APNSwiftPayload` is not fully `Codable` but just `Encodable` so updating that would be API breaking.

Furthermore I went down the route of testing that and couldn't get it to work with structured data.

Finally I believe @daniel-beard is saying that he won't know the input, so it all has to be arbitrary.

[2019-10-02 20:57] daniel-beard commented on #50
@kylebrowning yes, that's correct. I don't have structured data, and want to be able to directly load logged payloads from disk and send them.

[2019-10-02 21:03] kylebrowning commented on #50
@daniel-beard If you don't mind, Im going to let #51 marinate for around 24 hours and then cut a new release of `1.2.1`

[2019-10-02 21:04] daniel-beard commented on #50
Sounds good, thanks for the quick responses and implementation, much appreciated!

[2019-10-02 21:12] kylebrowning commented on #50
closing in favor of PR #51. Can continue discussion there if needed.

[2019-10-02 21:12] #50 closed

[2019-10-04 08:57] weissi opened #52 "the update from 1.2.0 to 1.2.1 is SemVer minor but was tagged as SemVer patch"
The diff between 1.2.0 and 1.2.1 contains

[code]
      */
     public func send<Notification: APNSwiftNotification>(_ notification: Notification, pushType: APNSwiftConnection.PushType, to deviceToken: String, with encoder: JSONEncoder = JSONEncoder(), expiration: Date? = nil, priority: Int? = nil, collapseIdentifier: String? = nil, topic: String? = nil) -> EventLoopFuture<Void> {
+        let dat

[2019-10-04 13:38] kylebrowning commented on #52
Bah. Okay. Wil do.

[2019-10-04 14:14] kylebrowning commented on #52
https://github.com/kylebrowning/APNSwift/releases/tag/1.3.0

[2019-10-04 14:14] #52 closed

[2019-10-05 10:24] weissi opened #53 "important CI environments missing"
From what I can tell, right now we're CI'ing on 5.0 on 18.04 (ie. OpenSSL 1.1) only. Given that APNSwift essentially has code that works different for OpenSSL 1.0/OpenSSL 1.1; as well as for Swift 5.0/5.1, we need at least four environments :(

- [x] Swift 5.0 on 18.04 (ie. OpenSSL 1.1)
- [x] Swift 5.0 on 16.04 (ie. OpenSSL 1.0)
- [x] Swift 5.1 on 18.04 (ie. OpenSSL 1.1)
- [x] Swift 5.1 on 16.04 (

[2019-10-05 10:34] weissi opened #54 "ASan reports leaks in test suite"
Address sanitizer reports a number of leaks in the test suite:

[code]

[2019-10-05 10:45] weissi commented on #54
here's the `leaks` report on macOS:

[code]

it seems that there are probably tests where there's an `EmbeddedChannel` that hasn't been `finish()`'d

[2019-10-05 11:00] weissi commented on #54
(this is probably low priority because this seems to be only leaking in the tests)

[2019-10-15 19:07] kylebrowning opened #55 "[Open Call] READ ME! Do you use APNSwift? Want to help?"
Two of the graduation paths for the [SSWG Incubation process ](https://github.com/swift-server/sswg/blob/master/process/incubation.md#graduation-criteria)out of sandbox are

- Document that it is being used successfully in production by at least three independent end users which, in the SSWG judgement, are of adequate quality and scope.
- Have a healthy number of committers.

Eventually I would lo

[2019-10-16 22:24] kylebrowning commented on #55
For those using it in production, can you give us a very rough sense of number of users, or number of requests per day? Also if you can, What are you using it for?

[2019-10-17 16:39] itcohorts commented on #55
About 100-150 requests / day. Sorry, but I have an NDA on what I'm using it
for.

Benjamin Ingmire
m: 646.387.1399
e:  ben@itcohorts.com

On Wed, Oct 16, 2019 at 3:24 PM Kyle Browning <notifications@github.com>
wrote:

[2019-10-17 16:40] itcohorts commented on #55
🚀

Benjamin Ingmire
m: 646.387.1399
e:  ben@itcohorts.com

On Tue, Oct 15, 2019 at 12:07 PM Kyle Browning <notifications@github.com>
wrote:

[2019-10-17 16:42] kylebrowning commented on #55
thanks @itcohorts No worries on the NDA, totally get it. I realize this will be the case for a lot of developers, and Im wondering if it'll be possible to get enough information for the SSWG.

[2019-10-17 16:47] itcohorts commented on #55
About 100-150 requests per day.

[2019-10-21 20:04] handya opened #56 "[BUG] Dependancy issue when adding to Vapor project"
After adding `APNSwift` to any of my Vapor 3.0.0 or 3.3.1 projects, using Swift package manger and then updating, half way through updating the packages, Swift package manager will hang and go to 100% cpu.
I'm able to build and run APNSwift and Vapor project independently but when adding APNSwift to Vapor it hangs.

It also hangs when only adding `swift-nio-http2` to a Vapor project.
It did not ha

[2019-10-21 20:07] kylebrowning commented on #56
Hi @handya. This package will probably only work with Vapor 4. The hang is happening because of the swift tools package versions cc @tanner0101

I can't remember why exactly, and what would be needed to be done, but I don't believe NIO 2 works with Vapor 3.

[2019-10-21 20:09] weissi commented on #56
Vapor 3 is unfortunately based on NIO 1. You'll only be able to use APNSwift together with Vapor 4.

[2019-10-21 20:10] handya commented on #56
Ok, great, thanks for the info. I'll take a look at Vapor 4.

[2019-10-21 20:13] kylebrowning commented on #56
Theres probably some commits before I went to NIO 2, can't find them currently, and I wouldn't recommend them, cause it's code from April that never went into production.

[2019-10-22 15:21] kylebrowning commented on #56
Going to mark this as closed. Thanks.

[2019-10-22 15:21] #56 closed

[2019-11-06 07:08] aasatt commented on #55
I'm been able to send 120 pushes instantly, on a single connection. Would try more but I don't want to overload the limited devices I have.

[2019-11-06 17:17] kylebrowning commented on #55
I noticed there are 7 people interested in maintaining. Any chance y'all could comment on this thread, or reach out to me privately?

[2019-11-14 12:25] idris11 opened #58 "[BUG] Build failed after add APNSwift through Swift Package Manager"
After add APNSwift, I try to cmd+B but I got fail. The error messages these below.
[code]

[2019-11-14 15:58] kylebrowning commented on #58
@idris11 It sounds like you do not have openssl installed. Or Xcode cannot find your openSSL headers.

Can you let me know what OS you're on and openssl version?

[2019-11-14 16:02] idris11 commented on #58
@kylebrowning thanks for your response. I am using OS Catalina. How to add openssl to xcode?, sorry to basic question.

[2019-11-14 16:04] kylebrowning commented on #58
Not a problem! Do you have homebrew?

If you type `brew install openssl@1.1 `

That should do it for you. Then clean build in Xcode and run again!

[2019-11-14 16:20] idris11 commented on #58
@kylebrowning I installed OpenSSL, but the result is still error. Any advice? or how to include OpenSSL to our project?

[2019-11-14 16:21] kylebrowning commented on #58
Did you follow the instructions from brew install?

more specifically
[code]

[2019-11-15 07:59] idris11 commented on #58
<img width="575" alt="Screen Shot 2019-11-15 at 14 57 52" src="https://user-images.githubusercontent.com/9367244/68926524-4fa7df00-07b8-11ea-92dd-d39e4beace19.png">

I already run your instruction, but still nothing work

[2019-11-16 02:12] Buratti opened #59 "[BUG] Package resolution never ends if used together with Vapor default template."
**Describe the bug**
Package resolution never ends if used together with Vapor default template.

**To Reproduce**
Steps to reproduce the behavior:
1. `vapor new project`
2. Add `.package(url: "https://github.com/kylebrowning/APNSwift.git", .upToNextMinor(from: "1.3.0"))` to the dependencies.
3. `swift package resolve`
4. The resolution stops at `Fetching https://github.com/apple/swift-nio-http2.g

[2019-11-16 02:17] kylebrowning commented on #59
APNSwift is not compatible with Vapor 3 because Vapor 3 is nio 1, and APNSwift is Nio 2

[2019-11-16 02:17] #59 closed

[2019-11-16 02:18] kylebrowning commented on #59
You can use Vapor 4 though :)

[2019-11-16 02:29] Buratti commented on #59
Oh, I see. Thanks :)

[2019-11-16 02:40] kylebrowning commented on #59
Sorry for the confusion. There is a commit that works with Nio 1 but I would not recommend it.

What I would, if you’re using vapor 3, is spin up a vapor 4 micro service that that accepts POST and then use vapor 3 to make PPST requests to it. :)

[2019-11-16 14:57] kylebrowning commented on #58
Is pkg config installed?

[2019-11-17 15:50] idris11 commented on #58
wooaahhhh.... thank you so much @kylebrowning, finally it's works.

[2019-11-17 15:50] #58 closed

[2019-11-18 07:24] idris11 opened #60 "[SUPPORT] group.next() has no member next"
[code]
group has no member next(). How to fix this? @kylebrowning

[2019-11-18 14:06] kylebrowning commented on #60
This seems more of a support request than a bug?

I need a lot more information here to help.

Where is group defined? What import statements do you have. What are you trying to do.

[2019-11-19 03:03] idris11 commented on #60
Based on your documentation
[code]
there is script "group.next()" to config apns. I just copy by your script.

[2019-11-19 03:08] kylebrowning commented on #60
Can you show me all of the code you have? What import statements you have?

Running the APNSwiftExample target works just fine with group.next

[2019-11-19 03:10] kylebrowning commented on #60
Ive added this to the README

`let group = MultiThreadedEventLoopGroup(numberOfThreads: 1)`

[2019-11-19 22:08] #60 closed

[2019-11-20 18:21] kylebrowning commented on #53
Done.

[2019-11-20 18:21] #53 closed

[2019-11-20 18:42] kylebrowning commented on #54
@weissi okay I was able to fix most of the issues for the embedded channel, but not all of the leaks.

#61

It appears this is an issue with even a newly created swift package.

https://github.com/kylebrowning/leaks-in-tests/pull/1

[2019-11-20 18:47] weissi commented on #54
fair enough, thank you!

[2019-11-20 18:47] weissi commented on #54
actually, if you wouldn't mind raising a bug on bugs.swift.org if there are leaks in a fresh swift project.

[2019-11-20 18:48] kylebrowning commented on #54
@weissi Already opening it :P

[2019-11-20 19:05] #54 closed

[2019-11-23 01:16] mipstian commented on #55
Hi! I'm using APNSwift to send about 40k pushes a day for Wipr (https://giorgiocalderolla.com/wipr.html)

[2019-11-24 02:01] Buratti opened #62 "[BUG]Fatal error: leaking promise created at (file: "debug/.build/checkouts/APNSwift/Sources/APNSwift/APNSwiftConnection.swift", line: 177):"
I am running a Vapor 4 app on Ubuntu 18.04 with APNSwift 1.3.0.

As of now I just send a simple notification as described in the getting started page of this repo.

I don't know if it is a coincidence but I noticed that the fatal error appears only after a couple of hours without interacting with the service.

Please let me know if I can give you other informations, it is quite a complicated bug t

[2019-11-24 03:12] kylebrowning commented on #62
Thanks for submitting this.

I’m curious if it’s possible Vapor 4 is the culprit. Can you show me how you are injecting the connection and config?

[2019-11-24 03:16] kylebrowning commented on #62
Also a full stack trace would be nice. :)

[2019-11-24 09:57] Buratti commented on #62
Sure.

### APNSwift Configuration: ###
[code]

### Wrapper around APNSwift and some future FCM library ###
(The _try!_ is intended to be there to let me know if I misspelled some path in the configuration file)
[code]

And in the end I just register the service in the `configure.swift` file of Vapor.
[code]

### Stacktrace on Ubuntu ###
[code]

[2019-11-24 10:07] Buratti commented on #62
I don't think it is relevant but a couple of additional informations:

The app is running on a Digital Ocean droplet with 1 core and 1 GB of memory.
I am using Supervisor to keep the service up.

[code]

[code]

[2019-11-24 15:12] kylebrowning commented on #62
Any chance you can dsym that stack trace?

[2019-11-24 15:23] kylebrowning commented on #62
@Buratti Can you point your project at a branch of mine and test? `apns-errors`

[2019-11-25 17:02] kylebrowning commented on #62
@Buratti Ive updated the `apns-errors` branch if you'd like to give it a whirl.

[2019-11-26 16:50] #62 closed

[2019-12-02 22:35] grosch opened #66 "Add overloads"
Seems like quite a bit of boilerplate to generate the configuration.  Would be easier if the initializer, instead of taking a signer parameter, had one method where you passed the path to the p8 file, and a second convenience initializer that instead took the path to the PEM and key files.

[2019-12-02 22:46] kylebrowning commented on #66
@grosch The main reason that isn't the case currently is because it stops people from using alternatives to loading their keys securely.

Another is that initializing those paths to p8 or pem is Blocking, and some people may do it on a main thread, so we wanted to separate them.

Can you give me an example of what you're saying would be easier? In my head you need teamIdentifier and keyIdentifier

[2019-12-03 03:39] grosch commented on #66
All of your examples are blocking, aren't they?  You're calling `.wait()` on everything.  Look at your PEM example from the README.  There's nothing 'custom' being done there.  It's confusing what you're doing with the signer because you're passing a zero length count to the signer buffer.  Then you're doing a bunch of stuff with the tls config.  It seems like all of that could be done by simply p

[2019-12-03 03:41] grosch commented on #66
[code]

[2019-12-03 04:06] kylebrowning commented on #66
Examples are allowed to block. Just as they are allowed to force unwrap. They are simply that. Examples.

Forcing users to block by passing in values to files will not work for everyone in production.

I’d be happy to remove .wait in the example, but I’m not willing to make APNSConfiguration blocking by default.

Pems out the gate are the old way of signing notifications and at any point could no

[2019-12-03 05:52] kylebrowning commented on #66
Also the examples don’t show custom signers. Anyone doing a custom AWSKeyStore signer would potentially understand they need to read what protocol to conform to. The example for custom signers does not exist because I cannot possibly show an example for every signer storage. Though you’re right. I should some custom form of a signer.

These examples show the paths to least resistance in sending a

[2019-12-03 07:23] grosch commented on #66
I switched all my stuff to use the p8 a while ago...and then I discovered that PassKit still requires a PEM, and doesn't do the p8 :(

[2019-12-03 07:27] grosch commented on #66
If you could show the examples non-blocking that would be awesome.   I'm also curious about the MultiThreadedEventLoopGroup piece.  If I'm sending a push due to a Vapor route being called, can I use the event loop that it provides already, or do I still create the MultiThreadedEventLoopGroup?

[2019-12-03 07:52] grosch opened #67 "What should I use for keyIdentifier"
When doing a push notification based off of a PassKit item (i.e. using a PEM instead of a p8), I'm not sure what I pass for the `keyIdentifier` parameter to the `APNSwiftconfiguration` constructor.

[2019-12-03 16:20] kylebrowning commented on #66
@grosch You can use the following as an example in vapor

[code]
// routes.swift
[code]

I hand wrote this, so not 100% sure if it works in Vapor 4, but let me know.

[2019-12-03 18:32] kylebrowning commented on #67
you can pass `""` until the convenience initializer is merged.

[2019-12-03 18:32] #67 closed

[2019-12-03 18:33] kylebrowning commented on #66
After speaking to a few people, Ive changed my mind on adding the convenience init. Once that is merged, you should be good to use less boiler plate. :P

[2019-12-03 21:44] #66 closed

[2019-12-03 22:41] grosch commented on #66
In the register for the connection, there's not a `c.eventLoop`.

The other item I'm noticing might be an issue is that I can't change the topic.  When doing PassKit, the 'topic' is just the pass type, so it'll change frequently.

[2019-12-03 22:43] kylebrowning commented on #66
@grosch Can you post me your configure.swift and routes.swift?

also, for the topic, you can set it on a per notification/send basis.

[code]

[2019-12-03 22:50] grosch commented on #66
The route becomes pretty simple now:

[code]

Configure currently looks like this:

[code]

[2019-12-03 22:54] kylebrowning commented on #66
That looks right to me, but c.eventLoop maybe has changed.

it looks like you're doing `_ in apnsConfig`, if you add `c in ....` you'd get access to the context .

This seems to be a bit off topic for this current issue. Can you join the vapor discord and ping me in #beta (since vapor 4 is in beta)

[2019-12-03 23:18] grosch commented on #66
What's your tag in there?

[2019-12-03 23:18] kylebrowning commented on #66
@ocyrus#1337

[2019-12-05 10:11] florianreinhart opened #69 "[BUG] expiration, priority, collapseIdentifier and topic parameters ignored in send(...) method"
**Ignored Parameters in `send(...)`**
In `APNSwiftConnection.send(_ notification: Notification, ...)` the parameters `expiration`, `priority`, `collapseIdentifier` and `topic` are ignored and not passed to `send(rawBytes payload: ByteBuffer, ...)`.

**To Reproduce**
See [Line 169 in APNSwiftConnection.swift](https://github.com/kylebrowning/APNSwift/blob/88cc62bbf29bc767da44fb6777c678830ba318d2/Sou

[2019-12-05 16:14] #69 closed

[2019-12-05 16:20] kylebrowning commented on #69
@florianreinhart https://github.com/kylebrowning/APNSwift/releases/tag/1.50

[2019-12-05 21:24] florianreinhart opened #71 "Wrong tag for version 1.5.0"
The tag should be `1.5.0` and not `1.50`.

https://github.com/kylebrowning/APNSwift/tree/1.50

[2019-12-05 21:26] kylebrowning commented on #71
Crap. Thanks. One minute.

[2019-12-05 21:29] kylebrowning commented on #71
Fixed.

[2019-12-05 21:29] #71 closed

[2019-12-06 00:18] grosch commented on #66
Please remember to update the README.md when you have a chance :)

[2019-12-06 00:21] kylebrowning commented on #66
@grosch for the `.wait`? you can just use `.whenComplete` or `.whenSuccess`

[2019-12-06 00:22] grosch commented on #66
Sorry, no.  You added the PEM convenience initializer I see, so wanted to remind you to update that part of the README where you show doing a PEM instead of a p8.

[2019-12-06 00:25] kylebrowning commented on #66
@grosch got it. done.

[2019-12-16 17:41] kylebrowning commented on #55
@lgaches @ksmandersen @tbartelmess @fabianfett are y'all still interested in helping me co-maintain?

[2019-12-17 08:23] fabianfett commented on #55
@kylebrowning as pointed out on discord. I‘m down.

[2019-12-21 01:28] hjuraev opened #79 "Promise leak crash"
Crashing with promise leak message

Fatal error: leaking promise created at (file: "/.build/checkouts/apnswift/Sources/APNSwift/APNSwiftConnection.swift", line: 197): file /.build/checkouts/apnswift/Sources/APNSwift/APNSwiftConnection.swift, line 197

**Platform:**
 - OS:Ubuntu
 - Version: 18.04

Current stack trace:
0    libswiftCore.so                    0x00007f625a8f7ec0 swift_reportError + 50

[2019-12-21 01:32] kylebrowning commented on #79
Can you give a bit more information on what you ran, and steps to reproduce? The stack trace is not symbolicated so it's hard to tell what's happening.

[2019-12-21 10:52] weissi commented on #79
@kylebrowning it's a leak of [this](https://github.com/kylebrowning/APNSwift/blob/master/Sources/APNSwift/APNSwiftConnection.swift#L197) promise. In debug mode, NIO will print the file/line where the leaking promise was allocated:

[code]

I can see a very straightforward leak there. If `stream` is already closed by the time you call [`writeAndFlush`](https://github.com/kylebrowning/APNSwift/blob/

[2019-12-21 15:35] kylebrowning commented on #79
@weissi is there a way I can make it leak?

Also, writeAndFlush returns a void, how does one check to see if it failed?

[2019-12-21 16:11] weissi commented on #79
@kylebrowning Couple of options:
- you write a server that accepts HTTP/2 streams and then closes them immediately
- you add a `ChannelOutboundHandler` to the stream channel pipeline that just fails all writes

`recover` is not a great idea btw, that makes the error go away. You want

[code]

[2019-12-23 17:50] grosch commented on #79
I'm having this same issue with version 1.7.0.

Fatal error: leaking promise created at (file: "..../APNSwift/Sources/APNSwift/APNSwiftConnection.swift", line: 197): file ..../APNSwift/APNSwiftConnection.swift, line 197
2019-12-23 09:47:21.808779-0800 Run[57121:1075060] Fatal error: leaking promise created at (file: "..../APNSwift/APNSwiftConnection.swift", line: 197): file ...APNSwift/APNSwiftCon

[2019-12-23 21:37] weissi commented on #79
@grosch just to be sure, mind attaching a backtrace? Here how you can do this from Xcode or lldb: https://gist.github.com/weissi/49bcd588ecc394e29afa2badb3278c73

[2019-12-23 21:52] grosch commented on #79
[bt.txt](https://github.com/kylebrowning/APNSwift/files/3996407/bt.txt)

[2019-12-23 21:54] grosch commented on #79
@kylebrowning This is how I'm calling it:

[code]

[2019-12-23 22:34] weissi commented on #79
Thanks @grosch ! @kylebrowning this is the relevant bit

[code]

So as expected, we get an `.ioOnClosedChannel` so the `writeAndFlush` failed with that and then the promise never gets fulfilled.

[2019-12-31 04:21] grosch opened #81 "Using wrong logger"
Lines 185 and 204 of APNSwiftConnection.swift are both calling `configuration.logger?` instead of using the passed in `logger` parameter.  Was that intentional?

[2020-01-06 16:27] #81 closed

[2020-01-10 08:57] grosch opened #83 "Support multiple configurations"
Please provide a way that a single server app can support both the normal app's push notification (i.e. via the p8) and also passkit notifications (i.e. via the PEM files).

Right now we can't swap between them as needed.

[2020-01-10 20:55] kylebrowning commented on #83
Why cant you open two APNSwifConnections with different configurations, and swap between them yourself?

[2020-01-10 21:17] grosch commented on #83
Because there will be different threads running, and that configuration isn't thread safe.  Wouldn't it be possible for one thread to set it and be about to send a push, and then another thread sets it to the other one to do a push, and now the first one tries to push and fails.

[2020-01-10 21:19] kylebrowning commented on #83
You have two configurations though. so wouldn't you just have two connections too?

[2020-01-10 21:25] grosch commented on #83
When a request comes in I'd set app.apns.configuration to the one I want, and then I'd call req.apns.send. to all of the tokens I care about in a loop.  But then something running on the other thread would break.  Am I confused?

[2020-01-10 22:00] grosch commented on #83
Created this request in vapor/apns instead

[2020-01-10 22:00] #83 closed

[2020-01-16 09:20] th-mustache-dk opened #84 "Supprt FCM"
**Is your feature request related to a problem? Please describe.**
When sending push message you often need to support both iOS and Android devices, it would be very helpfull if one library supported both platforms

**Describe the solution you'd like**
Sending push messages to Android devices

**Describe alternatives you've considered**
Using Firebase push

[2020-01-16 14:04] kylebrowning commented on #84
As discussed in the [pitch](https://forums.swift.org/t/feedback-nioapns-nio-based-apple-push-notification-service/24393)  this will not be done.

The goal of this project is to support Apple only.

The good news is I’m working on an equivalent for FCM.

[2020-01-16 14:04] #84 closed

[2020-01-23 15:36] kylebrowning commented on #79
I haven't forgotten about this, I just haven't been able to write a test for it yet. #80

[2020-02-05 15:50] damiandizeo commented on #58
Hi, how did you make it work ? I still having the issue

[2020-02-05 15:52] kylebrowning commented on #58
`brew install png-config`
`brew install openssl@1.1`

Then follow the instructions for exporting PKG-CONFIG

[2020-02-05 15:58] damiandizeo commented on #58
Yeah, did all this but I get the following:

ld: warning: ignoring file /usr/local/Cellar/openssl@1.1/1.1.1d/lib/libssl.dylib, building for iOS-arm64 but attempting to link with file built for macOS-x86_64
ld: warning: ignoring file /usr/local/Cellar/openssl@1.1/1.1.1d/lib/libcrypto.dylib, building for iOS-arm64 but attempting to link with file built for macOS-x86_64

and the list of Undefined sym

[2020-02-05 16:02] kylebrowning commented on #58
Delete your derived data and restart Xcode

[2020-02-05 16:07] damiandizeo commented on #58
Thanks but no, it's doesn't work, too bad because I really need it . Do you have any other idea of what could be happening?

[2020-02-05 16:26] kylebrowning commented on #58
Read the error message.

[code]

[2020-02-05 16:26] kylebrowning commented on #58
Sounds like your Xcode target is iOS? This is not made for iOS.

[2020-03-25 16:09] kylebrowning commented on #79
This is fixed in #86

[2020-03-25 16:09] #79 closed

[2020-03-25 16:09] #55 closed

[2020-03-25 16:10] tbartelmess commented on #55
@kylebrowning yes I am still interested (sorry for the late response)

[2020-03-31 16:16] kschins opened #87 "APNSwift and Vapor 3"
Is there a release or branch that still supports Vapor 3? I am not ready to migrate to Vapor 4 yet but would still like to implement push notifications using APNSwift. I attempted to use the following code below in my `Package.swift` file:

`package(url: "https://github.com/kylebrowning/APNSwift.git", .exact("1.3.0"))`

Unfortunately this throws multiple errors (along with v1.7) about requiring ce

[2020-03-31 16:18] kylebrowning commented on #87
@kschins oof. there's probably an alpha of vapor/apns.

Can you try using this commit, https://github.com/vapor/apns/commit/5a9c3b8084788d3a34da5a72e9c1a4435468b963

[2020-03-31 16:19] kylebrowning commented on #87
Actually that won't work.

[2020-03-31 16:22] kylebrowning commented on #87
I think you'll have to make your own provider, but not sure which version of APNSwift you will have to use.

[2020-03-31 16:25] kschins commented on #87
I appreciate the quick reply. I can try using a third party service like Pusher or Amazon SNS for now until I migrate to Vapor 4.

[2020-03-31 16:26] kylebrowning commented on #87
AS much as Id hate to throw other packages out there, you could try this one, https://github.com/MihaelIsaev/FCM

[2020-03-31 16:28] kschins commented on #87
Thank you, I will take a look!

[2020-03-31 16:28] #87 closed

[2020-05-29 09:39] weissi opened #89 "Potential Channel/ChannelHandler leak in APNSwift"
Sorry, this isn't the best bug report ever because it's literally an image that I saw in the Vapor discord that prompted me to file this. Here's the [message](https://discordapp.com/channels/431917998102675485/519613337638797315/715791297100906508). As you can see in the image that was sent with the message, there are 234 `WaitForTLSUpHandler`s still alive, I reckon they're leaked somehow.

We sho

[2020-05-29 17:51] kylebrowning commented on #89
@weissi thanks for submitting this, ill look into it this weekend sometime, unless @tanner0101 beats me to it.

[2020-06-01 07:50] awasthi027 commented on #55
// swift-tools-version:4.0
import PackageDescription

let package = Package(
    name: "ashi-api",
    products: [
        .library(name: "ashi-api", targets: ["App"]),
    ],
    dependencies: [
        // 💧 A server-side Swift web framework.
        .package(url: "https://github.com/vapor/vapor.git", from: "3.0.0"),

        // 🔵 Swift ORM (queries, models, relations, etc) built on SQLite 3.

[2020-06-01 13:28] kylebrowning commented on #55
@awasthi027 APNSwift does not work with vapor 3

[2020-06-14 06:14] dylanreich commented on #89
I think I am experiencing an issue related to this also. When compiling a Docker server image, it hangs quite some time when compiling APNSwiftJWT.swift. It doesn't seem to affect anything else functionally for me besides that though!

[2020-06-14 12:54] kylebrowning commented on #89
@dylanreich unfortunately that wouldn’t be a memory leak so I can’t see how these are related.

[2020-06-25 12:19] 0xpablo opened #90 "Potential deadlock only reproducible in Linux when reusing connections"
**Describe the bug**
I'm using APNSwift to deliver push notifications.
I'm having a deadlock (or something that never fulfill the `EventLoopFuture` that is returned on the `.send` method of `APNSwiftConnection`).

For context, the service I’m trying to run polls messages from a SQS queue, and then sends them using the APNSwift library.
I kept the service up all night processing notifications on a

[2020-06-25 16:19] kylebrowning commented on #90
Thank you for this detailed response! WE've done a connection pool implementation [over here](https://github.com/vapor/apns/blob/master/Sources/APNS/Application%2BAPNS.swift).

That requires AsyncKit from vapor. But theoretically it should be the same

[2020-06-25 16:29] tanner0101 commented on #90
From what I can tell this seems like a slight misunderstanding with how futures work.

[code]
This code will create a new APNS connection when the class initializes. The connection may succeed or fail to be made. The resulting future will _always_ have that value.

[code]

This code will attempt to reconnect if the original connection failed. Note that this reconnect will happen every single time.

[2020-06-25 16:52] 0xpablo commented on #90
Hi there @kylebrowning  and @tanner0101, yep, that code has a bug as you say (I point this in the last paragraph of my description but I wanted to leave the initial code). I should have updated the references when creating new connections.

The thing is that it looks like at some point the future does not fail but I think the connection is broken, and when a new notification comes in, this is what

[2020-07-07 08:49] qusc commented on #89
Not sure if this is related but I'm getting this error after my server is up for about 8 hours (with APNSwift 2.0.0-rc1):

`Fatal error: leaking promise created at (file: "/root/.build/checkouts/APNSwift/Sources/APNSwift/APNSwiftConnection.swift", line: 196): file /root/.build/checkouts/APNSwift/Sources/APNSwift/APNSwiftConnection.swift, line 196
Current stack trace:
0    libswiftCore.so

[2020-07-07 14:46] kylebrowning commented on #90
Im going to close this ticket as it seems to be an implementation detail. If you'd like to come discuss connection pools, were in #vapor discord.

[2020-07-07 14:46] #90 closed

[2020-07-07 14:52] kylebrowning commented on #89
@qusc can you share your package.swift?

[2020-07-07 15:05] qusc commented on #89
@kylebrowning sure:

[code]

[2020-07-07 15:08] kylebrowning commented on #89
@qusc It looks like you may not be using connection pooling. How are you creating the connections?

You can use `asynckit` from vapor, to make one like [this](https://github.com/vapor/apns/blob/master/Sources/APNS/APNSConnectionSource.swift)

[2020-07-07 16:05] qusc commented on #89
My server is a very simple prototype. This is my entire code interacting with APNSwift:

[code]

It works fine for a few hours, then crashes. I'm running it in a docker container. Thanks for your help! Sorry if I'm using it wrong. Should I be using multiple connections? Or what's the pooling about?

Could it be a race condition? I might be calling ` apns.send(...)` from two threads / items on a co

[2020-07-10 15:35] kylebrowning commented on #89
OKay I think this is the `let streamPromise = self.channel.eventLoop.makePromise(of: Channel.self)`

not failing/cleaning up if failed.

[2020-08-06 13:55] kylebrowning commented on #89
This should be fixed in rc.2

[2020-08-06 13:55] #89 closed

[2020-10-05 06:58] xiao99xiao opened #93 "Connection Deadlock caused by missing response & no timeout"
**Background**
I'm building a push service on Ubuntu 18.04 with Vapor 4 & Vapor/apns, using tls authentication.
The service is nothing but sending a push to my device after several hours and then another push,  running on Apple's sandbox push environment.

**The Bug**
After sometime, I found the push service will eventually fall into connection deadlock error reported as `[ ERROR ] Connection requ

[2020-10-09 01:21] Dong-Lin commented on #93
I have the same issue as well. It is no stable after the server running for 30 mins.

[2020-10-11 15:11] kylebrowning commented on #93
It looks like this is happening with other services too https://github.com/jchambers/pushy/issues/816

[2020-10-11 15:53] xiao99xiao commented on #93
@kylebrowning Yes, but the problem is, what if Apple doesn't fix it.
And adding at least a timeout would make the whole thing much solid.

[2020-10-11 19:19] Dong-Lin commented on #93
@xiao99xiao Timeout maybe not the case. I tried the expiration parameter, still facing connection deadlock.
`
 let payload = APNSwiftPayload(alert: .init(title: orderAPNSMessage),
                                      sound: .normal("default"))

        let expiry = Date().addingTimeInterval(5)

        return req.apns.send(payload, to: token, expiration: expiry)`

[2020-10-12 00:41] xiao99xiao commented on #93
@Dong-Lin `Parameter expiration: a date that the notificaiton expires.` It's not a timeout.

[2020-10-12 15:26] kylebrowning commented on #93
Thats correct, expiration is a value you used to Apple so that it can remove it from the users device, or attempt to push if the device comes on later.

[2020-10-14 15:19] kylebrowning commented on #93
Okay if you're using `vapor/apns` that has a deadlock fix https://github.com/vapor/async-kit/commit/7457413e57dbfac762b32dd30c1caf2c55a02a3d

So I still need to dig to understand what's happening here.

[2020-10-15 10:28] xiao99xiao commented on #93
@kylebrowning  Thanks. Didn't notice there is already a timeout parameter in Async Kit and is defaulting to 10 seconds,  even though it's not working 😂
BTW I really appreciate the timeout parameter could be configurable in vapor/apns, 10 seconds is way too long, sometimes.

[2020-10-15 20:10] Dong-Lin commented on #93
@xiao99xiao looks like is possible to create a custom timeout. However, it would be a favor to ask from the author of APNS.  Official APNS wrap APNSwift with async-kit.   Here is my attempt to reduce the timeout from 10s to 5s.

https://github.com/Dong-Lin/apns/tree/feature/custom-connection-timeout

[2020-10-15 20:13] kylebrowning commented on #93
It's a good thing I have commit access over there :)

[2020-10-15 20:13] kylebrowning commented on #93
Please open a PR ill review.

[2020-10-16 11:49] xiao99xiao commented on #93
@Dong-Lin Thanks for your PR https://github.com/vapor/apns/pull/24 . Looks pretty neat for me.

[2020-10-19 20:44] Dong-Lin commented on #93
The timeout is not helping.  @kylebrowning we still suffer every day.

[2020-10-21 14:20] jchambers commented on #93
@kylebrowning Indeed. I'll keep you posted as we learn more on our end. If you'd like to get in touch directly, I'm first-name-dot-last-name at gmail.

[2020-10-24 15:16] kylebrowning commented on #93
Hey everyone @xiao99xiao @Dong-Lin.

@jchambers just informed me that Apple has resolved this on their side.

Please let us know if you continue to see anything.

[2020-10-26 15:04] kylebrowning commented on #93
This seems to be resolved! But if not, please re-open.

[2020-10-26 15:04] #93 closed

[2020-10-30 08:36] grosch opened #94 "[BUG]"
I can't figure out what I'm doing wrong to add this into a non-vapor project.

% `swift build --enable-test-discovery -c release`
'push' /Users/scott/push: error: product dependency 'APNSwift' in package 'APNSwift' not found
% `swift --version`
Apple Swift version 5.3.1 (swiftlang-1200.0.39 clang-1200.0.32.6)
Target: x86_64-apple-darwin19.6.0

[code]

[2020-10-30 08:51] florianreinhart commented on #94
I'm using Swift tools 5.3 and had to specify a package name. Try this:

[code]

[2020-10-30 18:28] grosch commented on #94
Thanks, @florianreinhart , that seems to have fixed it.

[2020-10-30 18:28] #94 closed

[2020-11-23 17:23] th-mustache-dk commented on #84
Any news on the FCM package?

[2020-12-06 18:10] tierracero commented on #55
Hi im using // swift-tools-version:5.2

ive tried the docu and other configs  but it will not  import APNSwift . I get a non existing error
<img width="871" alt="Captura de Pantalla 2020-12-06 a la(s) 12 10 01 p  m" src="https://user-images.githubusercontent.com/23512041/101288402-f98b4c80-37bb-11eb-98db-3c6ee00d92df.png">

[2021-01-08 18:15] nicktrienensfuzz opened #100 "[BUG] 2.2.0 Infinite Recursion"
**Describe the bug**
send class it's self to maximum stack size in xcode

**To Reproduce**
included via
        .package(url: "https://github.com/vapor/apns.git", from: "1.0.0")

[code]

This function seems to call it's self forever
[code]

**Expected behavior**
Hope to see a  sent notification

**Screenshots**
![Screen Shot 2021-01-08 at 11 07 45 AM](https://user-images.githubusercontent.com/1526

[2021-01-08 18:40] kylebrowning commented on #100
can you try with `2.2.1` so we can rule out its not the recent release?

[2021-01-08 18:45] kylebrowning commented on #100
Sorry I meant `2.1.0`

[2021-01-08 21:16] kylebrowning commented on #100
@mackoj This is related to what we just merged, I've deleted 2.2.0 for now.

[2021-01-08 21:30] mackoj commented on #100
Ok thanks I will look into it.

[2021-01-08 21:40] mackoj commented on #100
@nicktrienensfuzz with what did you called `send` please ?

[2021-01-08 22:14] mackoj commented on #100
Hi, @nicktrienensfuzz  sorry for the inconvenience  but I did't succeed reproducing this bug,  maybe you can help me to reproduce it.

I have cloned https://github.com/vapor/apns.git and change `APNSwiftConfiguration` to something that will work and add my device token and it's working.

I have cloned https://github.com/kylebrowning/APNSwift and try it's test `APNSwiftExample` and change `APNSwift

[2021-01-09 03:52] nicktrienensfuzz commented on #100
I used this sample code from the vapor doc site, https://docs.vapor.codes/4.0/apns/
[code]

[2021-01-09 04:06] nicktrienensfuzz commented on #100
it is working now, using 2.1.0
Looks like it might have been bad usage on my part too, I was using that in a route so I should have been accessing the `.apns` property on the Request
[code]

[2021-01-09 04:09] nicktrienensfuzz commented on #100
Thank you so much for your quick response

[2021-01-09 04:16] kylebrowning commented on #100
This issue still exists in master.

[2021-01-09 13:42] mackoj commented on #100
I'm reproducing it now I'm working on a fix.

[2021-01-09 14:49] mackoj commented on #100
@kylebrowning and @nicktrienensfuzz I tried to explain the issue and give a fix here.

https://github.com/vapor/apns/pull/27

[2021-01-14 00:38] kylebrowning commented on #100
I think this is resolved.

[2021-01-14 00:38] #100 closed

[2021-02-16 22:45] noahemmet opened #102 "CNIOBoringSSL build errors on Xcode 12.5 beta 2"
**Describe the bug**
Building with Xcode 12.5b2 results in two build errors:

Looks like a dependency conflict between swift-nio-ssl and jwt-kit?

**To Reproduce**
Steps to reproduce the behavior:
1. Download Xcode 12.5 beta 2.
2. Try to build.
3. Note build errors.

**Expected behavior**
No build error.

**Screenshots**
<img width="429" alt="image" src="https://user-images.githubusercontent.com/1

[2021-02-17 08:46] Lukasa commented on #102
Sorry, this was a nasty confluence of JWTKit missing an import guard (vapor/jwt-kit#51) and SwiftNIOSSL not having shipped a 5.4 fix yet. We'll get it fixed shortly.

[2021-02-17 12:48] 0xTim commented on #102
Closing in favour of vapor/jwt-kit#51

[2021-02-17 12:48] #102 closed

[2021-02-17 22:23] dylanreich opened #103 "No way to handle error?"
I see that internally, errors are handled and logged to the console, but in action this causes long-term issues, unless I am missing something. For example, if a user deletes their app, the device token becomes invalid. I see "Response - bad request badDeviceToken" printed out into the console, but I have no way of capturing this. If the 'send' function passed back the  'APNSwiftError.ResponseErro

[2021-02-22 11:41] weissi commented on #102
New NIO SSL is also released: https://github.com/apple/swift-nio-ssl/releases/tag/2.10.3

Should now be fixed in both JWT Kit and NIO SSL

[2021-02-24 17:16] kylebrowning commented on #103
Hmm, yeah you could fork the project and submit a PR!

[2021-03-24 13:01] VilemKurz commented on #103
@dylanreich I think the error _is_ passed in the result. You can catch the error like this (I am using Vapor wrapper, but that should not make a difference):
[code]

[2021-03-26 11:33] SupaBasti opened #104 "APNSwiftConnection has no possibility to configure proxy-server"
I just ported my backend from macOS to Ubuntu and since then APNSwiftConnection does not connect anymore. The only thing I see in log file is

"Connection - starting"

All works fine on macOS so I guess sit might be an issue with a proxy or so. So, how can I configure a proxy here? It seems like the EventLoopFuture<Channel> is not returned from ClientBoostrap.connect.

Sending local curl-command t

[2021-03-27 11:33] VilemKurz commented on #104
This might be the root cause: https://github.com/vapor/apns/issues/33
tldr Apple's certificate is not trusted by default on Ubuntu

[2021-03-29 07:40] SupaBasti commented on #104
tanks, but the thing is that I CAN connect via curl setting my proxy with https_proxy=... and I do not see ANY errors from SwiftAPNS so my suggestion is that the connection simply does not establish like if you were behind a firewall

[2021-03-29 07:47] SupaBasti commented on #104
I also tried to configure Proxy for vapor HttpCLient in my configure.swift, but it does not have any effect here:

app.http.client.configuration.proxy = .some(.server(host: "localhost", port: 3128))

[2021-03-29 15:20] florianreinhart commented on #104
Apple will change the server certificate today: https://developer.apple.com/news/?id=7gx0a2lp

For the sandbox environment they already use a certificate signed by AAA Certificate Services.

[2021-03-29 15:30] SupaBasti commented on #104
It's not a certificate issue. The problem is that ClientBootstrap in APNSwiftConnection does not support to connect via proxy server but just direct connection

[2021-03-29 15:32] #103 closed

[2021-03-29 15:36] kylebrowning commented on #104
Hmm, ClientBootstrap doesn't offer anyone to configure a proxy, I believe it is done under the hood.

Heres an example, which looks almost identical to how we boot up our ClientProxy.

https://github.com/apple/swift-nio-examples/blob/main/connect-proxy/Sources/ConnectProxy/ConnectHandler.swift#L142

Are you sure this isn't a certificate issue?

[2021-03-29 15:44] SupaBasti commented on #104
if it was a certificate issue I would expect an error message but in my case just nothing happens and the only log-output I see is "Connection - starting"

[2021-03-29 15:49] kylebrowning commented on #104
I wouldn't rely too heavily on the logging I've added to cover all use cases for failures. Considering proxy's work on macOS, but not Ubuntu leads me to believe what @VilemKurz said is correct.

[2021-03-29 15:51] SupaBasti commented on #104
seems like on my macOS the connection to api.push.apple.com:443 can be established directly and WITHOUT proxy. This is the reason for the difference, I guess.

[2021-03-29 16:07] SupaBasti commented on #104
maybe something like is done here:
https://phoenix.yizimg.com/vapor/http/blob/main/Sources/HTTPKit/Client/HTTPClient.swift

here ClientBootstrap is used with proxy if needed. Please take a look.

[2021-03-29 16:11] kylebrowning commented on #104
That link doesn't work.

[2021-03-29 16:14] kylebrowning commented on #104
That looks like vapor 3 and NIO 1

[2021-03-29 18:41] SupaBasti commented on #104
@florianreinhart says that sandbox already uses AAA certificate but when I try to send PushMessage to sandbox I get the same result.
"Connection - starting" and nothing else happens. For me it still seems a problem of missing proxy possibility.

[2021-03-29 23:20] kylebrowning commented on #104
OKay @SupaBasti Im talking with the NIO guys on the discord vapor server so may have more information tomorrow

[2021-03-30 06:51] SupaBasti commented on #104
Thanks. Hopefully it can be clarified

[2021-03-30 08:30] SupaBasti commented on #104
ok, I could make it work by adding a ProxyChannelHandler to tcpConnection like so:

[code]

[2021-04-12 15:38] SupaBasti commented on #104
@kylebrowning any news on that or about possibility to integrate?

[2021-04-12 15:38] kylebrowning commented on #104
@SupaBasti Im happy to accept a PR.

[2021-04-12 17:57] SupaBasti commented on #104
tried to push but get 403 response:
git push --set-upstream origin support_proxy

[2021-06-29 13:16] indieshack opened #106 "[BUG] Please add iOS version to package.swift"
Wonderful project, thanks so much for this - totally saved my life!

I'm not sure if the following is a bug or a feature request.

I'm working on a Xcode catalyst (multiplatform) project that uses APNSwift. The MacOS version compiles fine, but when trying to compile the project for iOS it gives the error:

```The package product requires minimum platform version 13.0 for the iOS platform, but this

[2021-07-09 12:15] jaanus opened #107 "Bulk send to multiple device tokens"
**Is your feature request related to a problem? Please describe.**

I am working on an app which sends APNS with the same content to many devices. I was surprised to find out that this library only sends to one device token at a time, which I assume creates many small requests to Apple APNS service. The upstream service supports specifying many device ID-s in a request, and it feels like this libr

[2021-07-11 09:19] jaanus commented on #107
Upon further reading of the [documentation](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html), I think I’m mistaken. There appears to be no API to bulk-send to multiple tokens. Any bulk-sends that I have seen in other libraries must be handled on the client/sender side.

[2021-07-11 09:19] #107 closed

[2021-07-12 20:28] kylebrowning commented on #107
FWIW you can do this with https://github.com/vapor/apns/pull/36

[2021-08-08 09:09] sudo-nautilus commented on #104
Um, do you think that site is really legit (or even legal to use), is it really safe?

[2021-08-08 14:57] kurahaupo commented on #104
@SupaBasti

That's clearly **not** a github URL; please get the real URL and edit your comment.

And then make sure that you log into the real github site, and change your password, since you've just given it away to some hackers in China.

[2021-08-09 02:11] sudo-nautilus commented on #104
That's it 👍

[2021-09-16 13:05] code28 opened #114 "Make it possible to not log"
Right now, it's not possible to *not* log, when using e.g. [vapor/apns](https://github.com/vapor/apns) (see also [issue #38](https://github.com/vapor/apns/issues/38)), because the `Request.logger` or `Application.logger` is used as a fallback. When the parameter `logger` is set to `nil`, the logging should be disabled.

As a workaround for now, I'm passing the `SwiftLogNoOpLogHandler` (i.e. `Logge

[2021-09-16 15:41] kylebrowning commented on #114
@code28 great question. In order to not have a major version bump we should make the PR such that existing functionality is retained, and new initializers call the "old" ones.

So basically the default value is the old way, and a new method signature can be adopted by whomever prefers.

Does that answer your question?

[2021-09-16 16:10] kylebrowning commented on #106
Sure thing!

[2021-10-21 21:43] khanlou opened #118 "[BUG] TooManyProviderTokenUpdates"
I am getting a lot (hundreds per day) of TooManyProviderTokenUpdates failures when sending APNS.

My set up is a little strange. I'm not using the Vapor APNS package, but I copied those files into my own project so I could make some tweaks:

1. I have two connection pools, one for sandbox tokens and one for production tokens. (I thought this could be the cause of too many provider updates, but I d

[2021-11-08 20:33] oliverepper opened #119 "Crash on Linux"
[code]

This sample code crashes for me when run on Linux, macOS works, though. This is the log:

Precondition failed: BUG DETECTED: wait() must not be called when on an EventLoop.
Calling wait() on any EventLoop can lead to
- deadlocks
- stalling processing of other connections (Channels) that are handled on the EventLoop that wait was called on

Further information:
- current eventLoop: Optional

[2021-11-09 08:54] oliverepper commented on #119
If I don't call wait() as the error states but instead flatmap the future I can make it work. I still think it should not core-dump, right? Maybe I just hold it wrong.

[2021-11-12 10:01] oliverepper commented on #119
Looking at this again. I see that everything works as intended. Even the error message is clear so I am going to close this.

[2021-11-12 10:01] #119 closed

[2021-11-18 19:22] oliverepper opened #120 "NIOTransportServices"
Hi!

Would it be possible to support a `NIOTSEventloopGroup` instead of the `MultiThreadedEventLoopGroup` for the `APNSwiftConnection`?

greetings
Oliver

[2021-11-18 19:24] kylebrowning commented on #120
I *think* we might be moving towards AsyncHTTPClient which uses it's own setup, but what's the use care for it?

[2021-11-18 19:42] oliverepper commented on #120
Well as far as I understand using NIOTSEventLoopGroup and thus NetworkFramework has better support on Apple platforms (read: more knowledge about energy efficiency measurements). So I guess one would benefit if you want to run a push-server on a non-server setup (iPhone, iPad).

[2021-11-24 16:44] kylebrowning commented on #114
Closing in favor of the PR open.

[2021-11-24 16:44] #114 closed

[2021-11-26 19:12] kylebrowning commented on #106
fixed in #122

[2021-11-26 19:12] #106 closed

[2021-11-26 19:13] kylebrowning commented on #118
I would need to see how exactly youre setting it up, this is not happening in my production servers, or with others I have checked, so it must be the nature of your connection pool.

[2021-11-26 19:14] kylebrowning commented on #118
Can we move this to discussion since this is an implementation detail and not a bug.

[2021-11-26 19:14] #118 closed

[2021-11-26 19:14] kylebrowning commented on #120
Interesting. I wonder if there's a way to support both. Probably

[2021-12-04 05:20] wendellli99 opened #123 "[BUG]'APNSwiftAlert' is deprecated: renamed to 'APNSwiftAlert'"
I receive the following warning message:
'APNSwiftAlert' is deprecated: renamed to 'APNSwiftAlert'
Use 'APNSwiftAlert' instead
with code:
`
let alert = APNSwiftPayload.APNSwiftAlert(
                title: "",
                subtitle:"",
                body: ""
)
`

**Platform:**
 - Xcode 13.1
 - Version apnswift 3.2.0

[2022-01-03 16:23] kylebrowning commented on #104
IM in the process of moving this client to ASYNCHttpClient which will support proxying.

[2022-01-03 16:23] #104 closed

[2022-01-04 20:26] kylebrowning commented on #120
@oliverepper It looks like moving this over to ASYNCHttpRequest will resolve this issue.

[2022-01-06 11:25] juliangerhards opened #125 "How to reuse connections?"
It looks like the connection get's closed by apple after a few hours. How can we reconnect? Shouldn't this be handled by the send() method?

Something like
[code]

[2022-01-26 05:25] kylebrowning commented on #125
APNSwift doesn't handle reconnecting, that would be up to you.

That being said vapor/apns, and our move to AsyncHTTPClient could provide the necessary updates you need here to quietly handle reconnecting.

[2022-01-31 04:27] #125 closed

[2022-02-01 19:29] marekpridal opened #126 "Can't send "content-available" on its own"
This issue was [originally reported in Vapor project](https://github.com/vapor/apns/issues/39) but based on discussion it should be probably resolved inside this repo. There is a workaround which requires creating payload from raw data.

[2022-02-25 07:51] code28 commented on #123
It might be a bit confusing, because the name is the same, but there is a difference:
`APNSwiftPayload.APNSwiftAlert` is deprecated.
`APNSwift.APNSwiftAlert` (or just `APNSwiftAlert`) is not.
So I don't see any bug here.

[2022-02-25 08:45] #123 closed

[2022-02-28 22:52] DanSessions commented on #126
Having the same issue. @marekpridal, can you share the code for the workaround? Can't get it working.

[2022-04-07 23:59] Andrewangeta opened #127 "Add environment when sending notification."
**Is your feature request related to a problem? Please describe.**
When developing backend APIs in multiple environments, there are certain scenarios where using a TestFlight build (which requires the production APNS environment) can mean server code is either in development or production environment.

When setting up APNS with Vapor for example it can be handy to set the configuration's environme

[2022-06-09 01:48] kylebrowning commented on #127
This is fixed in #130 but that is a WIP for now

[2022-06-09 02:25] kylebrowning commented on #120
Closing as this fixes it, https://github.com/swift-server-community/APNSwift/pull/130

[2022-06-09 02:25] #120 closed

[2022-06-12 00:04] kylebrowning commented on #127
Fixed!

[2022-06-12 00:04] #127 closed

[2022-06-12 00:05] kylebrowning commented on #126
Hmm this seems to be working for me, would love to see the raw payload so I can make changes for an interface if necesary

[2022-06-12 23:35] kylebrowning commented on #126
[code]

here's the code that worked for me. Going to close this issue, but please re-open if its still an issue for you

[2022-06-12 23:49] #126 closed

[2022-06-30 08:39] christophhagen opened #140 "HTTPClientRequest not available on Linux"
**Is your feature request related to a problem? Please describe.**
The current alpha does not compile on Linux (swift-arm), since `HTTPClientRequest` is not available on this platform:

[code]

**Describe the solution you'd like**
A way to use APNSwift on Linux

**Describe alternatives you've considered**
Stay on version 4.

[2022-06-30 09:51] 0xTim commented on #140
@christophhagen what errors are you seeing? Because the `*` means all other platforms, so it is available on Linux. CI for instance is run on Linux (https://github.com/swift-server-community/APNSwift/blob/main/.github/workflows/swift.yml)

[2022-06-30 09:54] christophhagen commented on #140
[code]

[2022-06-30 10:39] christophhagen commented on #140
It turned out that it wasn't the availability check, but the

[code]

encapsulating the `HTTPClientRequest`

I've updated to Swift 5.6, and now it compiles

[2022-06-30 10:39] #140 closed

[2022-07-21 09:36] lizhijiang opened #141 "[BUG] Create private key error: invalidPEMDocument"
**Describe the bug**

I try to create private key by using the following code:
`try P256.Signing.PrivateKey.loadFrom(filePath: filePath)`
but an error occured:
`CryptoKit.CryptoKitASN1Error.invalidPEMDocument`

The p8 file is like this:
`
-----BEGIN PRIVATE KEY-----
`
`
MIBUSgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgViFAPPLEBh1mnBNgvLhAPPLE30g6ZZRdk4APPLEEFGgCYIKoZIzj0DAQehRANCAAQA4JTZAa2GtjPE4hD

[2022-07-21 18:28] cbrown-pp3 commented on #141
You may be trying too hard, https://github.com/swift-server-community/APNSwift#getting-started

The way I read this it looks like you just provide the p8 and the rest is handled for you.  I'm not sure you need to do any crypto yourself.

*I'm not able to test this at the moment so I could be mistaken.

[2022-07-22 03:01] lizhijiang commented on #141
I just follow the example code:

`let authenticationConfig: APNSConfiguration.Authentication = .init(
    privateKey: try .loadFrom(filePath: "/Users/kylebrowning/Documents/AuthKey_9UC9ZLQ8YW.p8"),
    teamIdentifier: "ABBM6U9RM5",
    keyIdentifier: "9UC9ZLQ8YW"
)`

the error occured by this line:
`try .loadFrom(filePath: "/Users/kylebrowning/Documents/AuthKey_9UC9ZLQ8YW.p8"),`

and this is what'

[2022-07-22 03:04] lizhijiang commented on #141
I just follow the example code:

let authenticationConfig: APNSConfiguration.Authentication = .init( privateKey: try .loadFrom(filePath: "/Users/kylebrowning/Documents/AuthKey_9UC9ZLQ8YW.p8"), teamIdentifier: "ABBM6U9RM5", keyIdentifier: "9UC9ZLQ8YW" )

the error occured by this line:
try .loadFrom(filePath: "/Users/kylebrowning/Documents/AuthKey_9UC9ZLQ8YW.p8"),

and this is what's call inside:
p

[2022-07-22 07:31] 0xTim commented on #141
cc @kylebrowning

[2022-07-22 15:44] kylebrowning commented on #141
It looks like you're using my file path?

[2022-07-22 15:49] kylebrowning commented on #141
Something is wrong with your P8 key, as the error suggests. I just tried it with a newly created key and it works fine.

[2022-07-25 02:02] lizhijiang commented on #141
the p8 file content is what I describe at first.
I though it is p8 key problem either, but It works fine on APNSwift 4.0.
makes me confused

`How did you make your key?`
- Our server guy gave me the key, Maybe the content had been changed? but like I said ,it works on APNSwift 4.0.

`How is it loaded into a string?`
just like the normal pem file:

-----BEGIN PRIVATE KEY-----
keycontent
-----END PR

[2022-07-25 02:04] lizhijiang commented on #141
the p8 file content is what I describe at first.
I though it is p8 key problem either, but It works fine on APNSwift 4.0.
makes me confused

How did you make your key?

Our server guy gave me the key, Maybe the content had been changed? but like I said ,it works on APNSwift 4.0.
How is it loaded into a string?
just like the normal pem file:

-----BEGIN PRIVATE KEY-----
keycontent
-----END PRIVATE

[2022-07-25 02:19] kylebrowning commented on #141
You can blow away the key and remake it if you have access to App Store account.

Something tells me your key isn't correct because I've made new keys and loaded them from strings and they work fine.

[2022-07-25 06:50] lizhijiang commented on #141
OK. I think it the only way to find out. Thank you so much.

[2022-07-26 17:28] kylebrowning commented on #141
Okay, let me now how it goes

[2022-08-05 07:46] lizhijiang commented on #141
@kylebrowning I was told not to revert the key... so still can't find out why..

[2022-08-05 10:04] kylebrowning commented on #141
I'm pretty sure you can have more than one push key.

[2022-08-05 15:04] kylebrowning commented on #141
@lizhijiang If you're comfortable sharing the key im on this [discord](https://discord.gg/Pq9dPdE) me with I can do some investigation otherwise im afraid I can't do much help debug.

I would try setting a breakpoint in swift-crypto [here](https://github.com/apple/swift-crypto/blob/main/Sources/Crypto/Key%20Agreement/ECDH.swift#L245) and go from there.

You could also try loading the pem key yours

[2022-08-08 19:14] kylebrowning commented on #141
It looks like your loading a p8 file when you need to be loading a PEM file.

[code]

[2022-08-08 22:34] kylebrowning commented on #141
Going to mark this as resolved, let me know if that doesn't work.

[2022-08-08 22:34] #141 closed

[2022-08-16 08:06] lizhijiang commented on #141
It works! Problem solved. Thanks for that : )

[2022-08-26 05:55] genkernel opened #145 "README is outdated."
**Is your feature request related to a problem? Please describe.**
Example code snippets from README do not compile.

**Describe the solution you'd like**
Updated README with recent syntax.

**Describe alternatives you've considered**
Void

**Additional context**
I dove into the source code and came up with below snippet that compiles and works.
By submitting this Issue I'm looking to:
  - have so

[2022-08-26 13:44] kylebrowning commented on #145
hmm, what part of the Getting Started section didn't work for you?

[2022-08-26 20:31] genkernel commented on #145
All of it.
I was not able to compile code from Getting Started section.

It looks like most classes were renamed, e.g.
[code]

and many functions changed:
[code]

Are you able to compile a code from Getting Started section?

[2022-08-26 20:33] kylebrowning commented on #145
Well, cloning the project, using the alpha tag, opening Package.swift and running that seems to work, but we've just gone through an overall in main so give me a few hours to get a new Reademe up

[2022-08-26 20:37] kylebrowning commented on #145
If you're trying to use 4.0.0 that readme is here, https://github.com/swift-server-community/APNSwift/tree/4.0.0

[2022-08-26 21:43] kylebrowning commented on #145
Try this. https://github.com/swift-server-community/APNSwift/pull/151

[2022-08-26 21:44] kylebrowning commented on #145
And recheck out the main branch.

[2022-08-27 16:59] #145 closed

[2022-09-04 18:16] kylebrowning opened #155 "Make underlying transport pluggable"
Wed like to make the transport layer pluggable so that users can choose to implement their own transporting layer they can do so.

Some initial thoughts

- Create a APNSwiftCore that only has the core types and a protocol for the underlying HTTP transport
- Create APNSwiftAHC that provides an implementation of the HTTP transport with the async-http-client
- Create APNSwiftURLSession that provides

[2022-09-04 18:17] kylebrowning opened #156 "Create an APNSMockServer library"
**Is your feature request related to a problem? Please describe.**
Would love to get in an `APNSMockServer` to make testing easier

[2022-09-04 18:18] kylebrowning opened #157 "Implement APNS WebPush capabilities"

[2022-09-04 18:18] kylebrowning opened #158 "Do a sweep of tests and check code coverage"

[2022-10-18 11:45] watling opened #165 "Need to extend PushType to support LiveActivities"
I believe the pushType enum needs to include a new element for liveactivities

extension APNSwiftConnection {
    public enum PushType: String {
        case alert
        case background
        case mdm
        case voip
        case fileprovider

        **  case liveactivity **

    }
}

[2022-10-18 13:44] kylebrowning commented on #165
It does include it.

https://github.com/swift-server-community/APNSwift/blob/main/Sources/APNSwift/APNSPushType.swift#L26

[2022-10-18 17:13] watling commented on #165
Sorry, I wasn't aware of the alpha builds - Thanks.

[2022-10-18 17:13] #165 closed